/target
.*.swp
*.pyc
*.tmp
/dist
/build
/*.egg-info
__pycache__
*.so
*.dll
*.lib
*.pyc
*.bin
/pyqtgraph
arc2control/widgets/generated/*py
!arc2control/widgets/generated/__init__.py
arc2control/modules/*/generated/*.py
!arc2control/modules/*/generated/__init__.py
